# Shop Configuration
SHOP_URL=https://formdt1.com
COLLECTION_PATH=/collections/all/products.json?limit=250

# Polling Configuration
POLL_INTERVAL=10s

# Telegram Configuration
TELEGRAM_TOKEN=token
TELEGRAM_CHAT_ID=id

# Optional
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 14_6_1) AppleWebKit/618.2.12 (KHTML, like Gecko) Version/18.0 Safari/618.2.12"
