# Shop Configuration
SHOP_URL=https://formdt1.com
COLLECTION_PATH=/collections/all/products.json?limit=250

# Polling Configuration
POLL_INTERVAL=10s

# Telegram Configuration
TELEGRAM_TOKEN=token
TELEGRAM_CHAT_ID=id

# Optional
USER_AGENT="FormD-Stock-Monitor/1.0"
